<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Capstone/assets/css/adminPanel.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class='menubarContainer' onclick='toggleMenu(this)'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>

            <div class="logoContainer">
                <div class="subLogoContainer">

                </div>
            </div>
        </div>

        <div class="subMenubarContainer">
            <a href="/Capstone/template/adminPanel/adminPanel.html">
                <div class="barContainer">
                    <p>List of teacher</p>
                </div>
            </a>

            <a href="/Capstone/template/adminPanel/feedback.html">
                <div class="barContainer">
                    <p>Feedback</p>
                </div>
            </a>

            <a href="/Capstone/template/studentPanel/loginForm.html">
                <div class="barContainer1">
                    <p>Logout</p>
                </div>
            </a>
        </div>

        <div class="filterContainer">
            <div class="textContainer">
                <p>List of teachers</p>
            </div>

            <div class="subFilterContainer">
                <button onclick="addlist1()" class="filter" style="width: 10rem;">Add teacher</button>

                <input class="searchBar" type="text" name="" id="" placeholder="Search...">
            </div>
        </div>

        <div class="listContainer">
            <div class="subListContainer">
                <div class="nameContainer">
                    <div class="subNameContainer" style="margin-left: -3rem;">
                        <p>Khriz marr L. Falcatan</p>
                    </div>

                    <div class="averageContainer">
                        <div class="grades">
                            <p>Bachelor Science of Information Technology</p>
                        </div>
                    </div>
                </div>

                <div class="viewButtonContainer">
                    <button onclick="addlist()" class="viewButton">View</button>
                </div>
            </div>
        </div>
    </div>

    <div class="addListContainer" style="display: none;">
        <div class="addListContainer" style="background-color: none;">
            <div class="subAddListContainer">
                <div class="closeContainer" style="margin-bottom: 1rem;">
                    <div class="subCloseContainer">
                        <img onclick="addlist()" class="closeButton" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
                </div>
    
                <div class="infoContainer">
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>Khriz marr L. Falcatan</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>kmfalcatan@gmail.com</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer" style="gap: 1rem;">
                        <div class="info" style="width: 10rem;">
                            <p>Rank</p>
                        </div>
                        <div class="info" style="width: 10rem;">
                            <p>Designation</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer1">
                        <div class="info1">
                            <p>Bachelor science of information techonology</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="addListContainer1" style="display: none;">
        <div class="addListContainer" style="background-color: none;">
            <div class="subAddListContainer">
                <div class="closeContainer" style="margin-bottom: 1rem;">
                    <div class="subCloseContainer">
                        <img onclick="addlist1()" class="closeButton" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
                </div>
    
                <div class="infoContainer">
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter first name">
                    </div>
                    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter middle name">
                    </div>
                    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter last name">
                    </div>
    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter Email">
                    </div>
    
                    <div class="subInfoContainer" style="gap: 1rem; width: 93%;">
                        <input type="text" class="info" placeholder="Enter Rank">
                        <input type="text" class="info" placeholder="Enter designation">
                    </div>
    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Password">
                    </div>
    
                    <div class="subInfoContainer">
                        <select class="info" name="" id="" style="width: 92%;">
                            <option value="Choose a course">Choose a course</option>
                        </select>
                    </div>

                    <div class="buttonContainer2">
                        <button class="button1">Add</button>
                        <button class="button2">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Capstone/assets/js/exploreCourses.js"></script>
</body>
</html>