<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Capstone/assets/css/adminPanel.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class='menubarContainer' onclick='toggleMenu(this)'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>

            <div class="logoContainer">
                <div class="subLogoContainer">

                </div>
            </div>
        </div>

        <div class="subMenubarContainer">
            <a href="/Capstone/template/teacherPanel/adminPanel.html">
                <div class="barContainer">
                    <p>List of student</p>
                </div>
            </a>

            <a href="/Capstone/template/teacherPanel/courses.html">
                <div class="barContainer">
                    <p>Courses</p>
                </div>
            </a>

            <a href="/Capstone/template/teacherPanel/listOfStudent.html">
                <div class="barContainer">
                    <p>List of Approve</p>
                </div>
            </a>

            <a href="/Capstone/template/studentPanel/loginForm.html">
                <div class="barContainer1">
                    <p>Logout</p>
                </div>
            </a>
        </div>

        <div class="filterContainer">
            <div class="textContainer">
                <p>List of students</p>
            </div>

            <div class="subFilterContainer">
                <select class="filter" name="" id="">
                    <option value="">Choose a course</option>
                </select>

                <input class="searchBar" type="text" name="" id="" placeholder="Search...">
            </div>
        </div>

        <div class="listContainer">
            <div class="subListContainer">
                <div class="nameContainer">
                    <div class="subNameContainer">
                        <p>Khriz marr L. Falcatan</p>
                    </div>

                    <div class="averageContainer">
                        <div class="grades">
                            <p>Grade avg: 85</p>
                        </div>

                        <div class="grades">
                            <p>CET avg: 85</p>
                        </div>
                    </div>
                </div>

                <div class="viewButtonContainer">
                    <button onclick="addlist()" class="viewButton">View</button>
                </div>
            </div>
        </div>
    </div>

    <div class="addListContainer" style="display: none;">
        <div class="addListContainer" style="background-color: none;">
            <div class="subAddListContainer">
                <div class="closeContainer" style="margin-bottom: 1rem;">
                    <div class="subCloseContainer">
                        <img onclick="addlist()" class="closeButton" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
                </div>
    
                <div class="infoContainer">
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>Khriz marr L. Falcatan</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>kmfalcatan@gmail.com</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer" style="gap: 1rem;">
                        <div class="info" style="width: 10rem;">
                            <p>Grade avg: 85</p>
                        </div>
                        <div class="info" style="width: 10rem;">
                            <p>CET avg: 85%</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>09999199228</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>Pasonanca</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer1">
                        <div class="info1">
                            <p>Bachelor science of information techonology</p>
                        </div>
                    </div>

                    <div class="buttonContainer2">
                        <button class="button1">Approve</button>
                        <button class="button2">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Capstone/assets/js/exploreCourses.js"></script>
</body>
</html>