<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Capstone/assets/css/setting.css">
</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <div class='menubarContainer' onclick='toggleMenu(this)'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
            </div>

            <div class="logoContainer">
                <div class="subLogoContainer">

                </div>
            </div>
        </div>

        <div class="subMenubarContainer">
            <a href="/Capstone/template/teacherPanel/adminPanel.html">
                <div class="barContainer">
                    <p>List of student</p>
                </div>
            </a>

            <a href="/Capstone/template/teacherPanel/courses.html">
                <div class="barContainer">
                    <p>Courses</p>
                </div>
            </a>

            <a href="/Capstone/template/teacherPanel/listOfStudent.html">
                <div class="barContainer">
                    <p>List of Approve</p>
                </div>
            </a>

            <a href="/Capstone/template/teacherPanel/setting.html">
                <div class="barContainer">
                    <p>Setting</p>
                </div>
            </a>

            <a href="/Capstone/template/studentPanel/loginForm.html">
                <div class="barContainer1">
                    <p>Logout</p>
                </div>
            </a>
        </div>

        <div class="subContainer">
            <div class="settingContainer" onclick="addlist()">
                <div class="subSettingContainer">
                    <img class="person" src="/Capstone/assets/img/image-removebg-preview1.png" alt="">
                </div>

                <div class="textContainer4">
                    <p>Profile</p>
                </div>
            </div>

            <div class="settingContainer" onclick="login()">
                <div class="subSettingContainer">
                    <img class="person" src="/Capstone/assets/img/image-removebg-preview (2).png" alt="">
                </div>

                <div class="textContainer4">
                    <p>Change password</p>
                </div>
            </div>
        </div>
    </div>

    <div class="loginFormContainer" style="display: none;">
        <div class="loginFormContainer" style="background-color: transparent;">
            <div class="subLoginFormContainer">
                <div class="closeContainer">
                    <div class="subCloseContainer">
                        <img onclick="login()" class="close" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
    
                    <div class="loginTextContainer">
                        <p>Change password</p>
                    </div>
                </div>
    
                <div class="inputContainer">
                    <div class="subInputContainer">
                        <input class="inputEmail" type="email" placeholder="Enter your old password:">
                    </div>
    
                    <div class="subInputContainer">
                        <input class="inputEmail" type="password" placeholder="Enter your new password:">
                    </div>
    
                    <div class="subInputContainer">
                        <a href="/Capstone/template/adminPanel/adminPanel.html">
                            <button class="loginButton1">Save</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="addListContainer" style="display: none;">
        <div class="addListContainer" style="background-color: none;">
            <div class="subAddListContainer">
                <div class="closeContainer" style="margin-bottom: 1rem;">
                    <div class="subCloseContainer">
                        <img onclick="addlist()" class="closeButton" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
                </div>
    
                <div class="infoContainer">
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>Khriz marr L. Falcatan</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer">
                        <div class="info">
                            <p>kmfalcatan@gmail.com</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer" style="gap: 1rem;">
                        <div class="info" style="width: 10rem;">
                            <p>Rank</p>
                        </div>
                        <div class="info" style="width: 10rem;">
                            <p>Designation</p>
                        </div>
                    </div>
    
                    <div class="subInfoContainer1">
                        <div class="info1">
                            <p>Bachelor science of information techonology</p>
                        </div>
                    </div>

                    <div class="buttonContainer2">
                        <button class="button1" onclick="addlist1()">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="addListContainer1" style="display: none;">
        <div class="addListContainer" style="background-color: none;">
            <div class="subAddListContainer">
                <div class="closeContainer" style="margin-bottom: 1rem;">
                    <div class="subCloseContainer">
                        <img onclick="addlist1()" class="closeButton" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
                </div>
    
                <div class="infoContainer">
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter first name">
                    </div>
                    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter middle name">
                    </div>
                    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter last name">
                    </div>
    
                    <div class="subInfoContainer">
                        <input type="text" class="info" placeholder="Enter Email">
                    </div>
    
                    <div class="subInfoContainer" style="gap: 1rem; width: 93%;">
                        <input type="text" class="info" placeholder="Enter Rank">
                        <input type="text" class="info" placeholder="Enter designation">
                    </div>

                    <div class="buttonContainer2">
                        <button class="button1">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/Capstone/assets/js/exploreCourses.js"></script>
    <script src="/Capstone/assets/js/loginForm.js"></script>
</body>
</html>