<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Capstone/assets/css/loginForm.css">
</head>
<body>
    <div class="container">
        <div class="subContainer">
            <div class="headerContainer">
                <div class="loginContainer">
                    <p onclick="login()" class="loginButton">Login as admin</p>
                </div>

                <div class="logoContainer">
                    <div class="subLogoContainer">

                    </div>
                </div>
            </div>

            <div class="bodyContainer">
                <div class="subBodyContainer">
                    <div class="navContainer">
                        <div class="pictureContainer">
                            <img class="picture" src="/Capstone/assets/img/4521334.jpg" alt="">
                        </div>

                        <div class="textContainer">
                            <p>Find the Perfect Course for You</p>
                        </div>

                        <div class="subTextContainer">
                            <p>akjdbaksh akjsdhaks aksdjha khjd kjhasdv</p>
                        </div>

                        <div class="buttonContainer">
                            <a href="/Capstone/template/studentPanel/exploreCourses.html">
                                <button class="button1">Explore Course</button>
                            </a>

                            <a href="/Capstone/template/studentPanel/dashboard.html">
                                <button class="button2">Get Start</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loginFormContainer" style="display: none;">
        <div class="loginFormContainer" style="background-color: transparent;">
            <div class="subLoginFormContainer">
                <div class="closeContainer">
                    <div class="subCloseContainer">
                        <img onclick="login()" class="close" src="/Capstone/assets/img/Screenshot 2024-07-17 221356.png" alt="">
                    </div>
    
                    <div class="loginTextContainer">
                        <p>Login</p>
                    </div>
                </div>
    
                <div class="inputContainer">
                    <div class="subInputContainer">
                        <input class="inputEmail" type="email" placeholder="Enter your email:">
                    </div>
    
                    <div class="subInputContainer">
                        <input class="inputEmail" type="password" placeholder="Enter your password:">
                    </div>

                    <div class="errorContainer">
                        <p class="errorMessage">Invalid password and email</p>
                    </div>
    
                    <div class="subInputContainer">
                        <button class="loginButton1">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Capstone/assets/js/loginForm.js"></script>
</body>
</html>